.git
.gitignore
.vs/
.vscode/
.idea/

bin/
obj/
**/bin/
**/obj/

Dockerfile
.dockerignore

**/*.Development.json
**/appsettings.Development.json

.tests/
tests/
**/*Tests/
**/*.Tests/

*.user
*.suo
*.cache
*.log
TestResults/
coverage/
*.trx
